

/* Reset */
*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* Body Styling */
body {
 align-items: center;
 background-image: linear-gradient(180deg, #B068E9, #6463E7); 
 background-repeat: no-repeat;
 display: grid;
 font-family: 'Kumbh', sans-serif;
 font-size: 12px;
 font-weight: 400;
 height: 100vh;
 justify-content: center;
 line-height: 18px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 32.19px;
    text-align: center;
}

hr {
    border: 1px solid #E8E8EA;
}

.container {
    background-color: #FFFFFF;
    border-radius: 23px;
    height: 535px;
    width: 327px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.faq-container {
    margin-bottom: 48px;
}

.question {
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
    padding-top: 17px;
}

.question img {
    height: 8px;
    display: block;
}

.question p{
    font-size: 13px;
    line-height: 100%;
}

.answer {
    display: none;
}

@media only screen and (min-width: 1440px) {
    
    h1 {
        line-height: 100%;
        text-align: left;
    }

    .question p{
        font-size: 14px;
    }
}